<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <!-- import CSS -->
  <link rel="stylesheet" href="./css/base.css" />
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" />
  <link rel="stylesheet" href="./css/index.css" />
  <link rel="shortcut icon " type="images/x-icon" href="favicon.ico">
  <script type="text/javascript">
    var sUserAgent = navigator.userAgent.toLowerCase();
    if (/ipad|iphone|midp|rv:1.2.3.4|ucweb|android|windows ce|windows mobile/.test(sUserAgent)) {
      //跳转移动端页面
      window.location.href="mobile.html"
      } else {
      //跳转pc端页面
    }
  </script>
</head>

<body>
  <el-container id="app" direction="vertical">
    <el-container id="front">
      <el-main class="no-padding">
        <el-row>
          <el-col :span="12">
            <el-image src="./img/frr1.png" fit="cover" class="image-size" />
          </el-col>
          <div class="main-right">
            <div class="title">Welcome to Sky Taxrefund</div>
            <img src="./img/logo.png" class="logo_big" />
            <div>
              <!-- <img class="cl2" src="./img/cl2.png" style="width:272px;" /> -->
              <!-- <h2 class="subtitle">高岛屋</h2> -->
            </div>
            <div class="positionR">
              <div v-if="show" class="loadinghome subtitle">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
              <div class="subtitle animatex clx">
                Get taxrefund anytime and anywhere
              </div>
              <!-- <div class="subtitle">
                日本語サイトはこちら
              </div> -->
            </div>
            <div class="arrow">
              <el-button icon="el-icon-arrow-right" circle plain class="btn-arrow"
              onclick="location.href='pages/home.html'"
              >
              </div>
            </el-col>
          </div>
        </el-row>
      </el-main>
    </el-container>
  </el-container>
</body>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
  new Vue({
    el: "#app",
    data: function () {
      return {
        activeIndex: "1",
        show: true,
        timer: '',
        navname: [
          { name: "走进高岛屋", link: "pages/home.html" },
          { name: "如何进行退税", link: "pages/refund.html" },
          { name: "从此刻开始", link: "pages/join.html" },
          { name: "联系我们", link: "pages/contact.html" },
        ],
      };
    },
    created() {
       this.timer =  setInterval(this.timerFun, 2000);
    },
    methods: {
      timerFun: function () {
        this.show = false
        this.timer = null;
      }
    }
  });
</script>
<style>
.title {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  color: white;
}

.main-right {
  background-color: #5773fe;
    z-index: 1;
    padding: 0px;
    text-align: center;
    align-items: center;
    flex-flow: column;
    justify-content: space-evenly;
    max-height: 100%;
    max-width: 100%;
    width: 50%;
    right: 0;
    height: 100vh;
    display: flex;
    position: absolute;
}
.main-right .title {
    margin-top: 20px;
    font-size: 20px;
    color: white;
}

.main-right .logo {
  height: 75px;
  width: 75px;
  margin-bottom: 10px;
}

.main-right .cl2 {
  margin-bottom: 10px;
}
.main-right .clx {
  margin-bottom: 40px;
}
.main-right .subtitle {
  font-size: 14px;
  color: white;
}

.animatex {
  -webkit-animation: fadeRightTan .8s 2s ease-in-out both;
  animation: fadeRightTan .8s 2s ease-in-out both;
}
@-webkit-keyframes fadeRightTan {
  0% {
    -webkit-transform: translateX(100%);
    opacity: 0;
  }

  70% {
    -webkit-transform: translateX(-5%);
    opacity: 1;
  }

  80% {
    -webkit-transform: translateX(2%);
    opacity: 1;
  }

  90% {
    -webkit-transform: translateX(-2%);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeRightTan {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  70% {
    transform: translateX(-5%);
    opacity: 1;
  }

  80% {
    transform: translateX(2%);
    opacity: 1;
  }

  90% {
    transform: translateX(-2%);
    opacity: 1;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.arrow {
  position: fixed;
  right: 0;
  top: 50%;
  width: 13%;
}
</style>

</html>