<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <!-- import CSS -->
  <link rel="stylesheet" href="../css/base.css" />
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" />
  <link rel="stylesheet" href="../css/index.css" />
</head>

<body>
  <!-- HOME -->
  <el-container id="home">
    <el-header class="title">
      <a href="../index.html"><el-image src="../img/header_logo.png" style="width: 115px" /></a>
    </el-header>
    <el-menu :default-active="activeIndex" mode="horizontal" active-text-color="#5773fe" class="menu-bar">
      <a href="home.html" class="active-link">
        <el-menu-item index="1">Enter Sky Taxrefund</el-menu-item>
      </a>
      <a href="refund.html">
        <el-menu-item index="2">How to start a tax refund</el-menu-item>
      </a>
      <a href="join.html">
        <el-menu-item index="3">Let the game begin </el-menu-item>
      </a>
      <a href="contact.html">
        <el-menu-item index="4">Contact us</el-menu-item>
      </a>
    </el-menu>
    <el-main style="padding: 0px 0px 20px 0px">
      <video controls :ref="`video`" src="../img/home_video.mp4" autoplay muted="true"
        class="video-size"></video>
    </el-main>
    <!-- <a class="backToHome" href="../index.html">
      <el-image src="../img/home.png" class="btn-gen-arrow" fit="contain" />
    </a> -->
    <div class="footer-div">
      <div class="footer-content">
          <div class="footer-imgset">
            <div :class="['footer-img', 'footer-img' + i]" v-for="i in 4" :key="i">
              <img :src="`../img/fl${i}.png`" :class="'footer-image' + i" />
            </div>
          </div>
          <div class="footer-right">
            <img src="../img/fr1.png" class="footer-image" />
          </div>
      </div>
    </div>
  </el-container>
</body>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
  new Vue({
    el: "#home",
    data: function () {
      return {
        activeIndex: "1",
        show: true,
        timer: '',
        navname: [
          { name: "走进高岛屋", link: "pages/home.html" },
          { name: "如何进行退税", link: "pages/refund.html" },
          { name: "从此刻开始", link: "pages/join.html" },
          { name: "联系我们", link: "pages/contact.html" },
        ],
      };
    },
  });
</script>
<style>
  .video-size {
    display: flex;
    height: 70vh;
    /*padding-top: 2vh;*/
    display: block;
    background-color: #000;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    /*object-fit:fill;*/
  }
  #home {
    height: 100%;
    display: flex;
  }

</style>

</html>