<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <!-- import CSS -->
  <link rel="stylesheet" href="../css/base.css" />
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" />
  <link rel="stylesheet" href="../css/index.css" />
</head>

<body>
  <el-container id="app" direction="vertical">
    <!-- JOIN -->
    <el-container id="join">
      <el-header class="title">
      <a href="../index.html"><el-image src="../img/header_logo.png" style="width: 115px" /></a>
    </el-header>
    <el-menu :default-active="activeIndex" mode="horizontal" active-text-color="#5773fe" class="menu-bar">
      <a href="home.html">
        <el-menu-item index="1">Enter Sky Taxrefund </el-menu-item>
      </a>
      <a href="refund.html">
        <el-menu-item index="2">How to start a tax refund</el-menu-item>
      </a>
      <a href="join.html"  class="active-link">
        <el-menu-item index="3">Let the game begin </el-menu-item>
      </a>
      <a href="contact.html">
        <el-menu-item index="4">Contact us</el-menu-item>
      </a>
    </el-menu>
      <el-main style="padding: 10px 0px 10px 0px;overflow:hidden;">
        <el-row>
          <el-col :span="12" class="join-col bg-blue">
            <el-col :span="12">
              <el-row>
                <span class="android-download-title">Let the game begin</span>
              </el-row>
              <!-- <br /> -->
              <!-- <br /> -->
              <!-- <br /> -->
              <br />
              <br />
              <br />
              <br />
              <br />
              <el-row>
                <span class="android-download-subtitle">Enjoy more convenient and faster shopping and tax refund services!
                </span>
              </el-row>
              <br />
              <br />
              <br />
              <br />
              <!-- <br /> -->
              <br />
              <el-row>
                <a class="position-app" style="margin: auto;" href="https://play.google.com/store/apps/details?id=com.gaodao.takashi">
                  <el-image src="../img/jl2.png" class="download-gplay" fit="contain" />
                </a>
              </el-row>
            </el-col>
            <el-col :span="7">
              <el-image src="../img/jl1.png" style="max-width: 100%" />
            </el-col>
         
          </el-col>
          <el-col :span="12" class="join-col bg-grey">
            <el-col :span="12">
              <el-row>
                <span class="ios-download-title">Join Sky Taxrefund</span>
              </el-row>
              <br />
              <!-- <br /> -->
              <br />
              <!-- <br /> -->
              <br />
              <br />
              <!-- <br /> -->
              <br />
              <el-row>
                <span class="ios-download-subtitle">Set your order, get refund and check the progress anytime and anywhere!
                </span>
              </el-row>
              <br />
              <br />
              <!-- <br /> -->
              <br />
              <!-- <br /> -->
              <br />
              <br />
              <!-- <br /> -->
              <el-row>
                <a class="position-app" style="margin: auto;" href="#">
                  <el-image src="../img/jr2.png" class="download-gplay" fit="contain" />
                </a>
              </el-row>
            </el-col>
          
            <el-col :span="7">
              <el-image src="../img/apple-1.png" style="max-width: 100%" />
            </el-col>
            <!-- <el-image class="position-app" src="../img/jr2.png" class="download-gplay" fit="contain" /> -->
          </el-col>
        </el-row>
      </el-main>
      <div class="footer-div">
      <div class="footer-content">
          <div class="footer-imgset">
            <div :class="['footer-img', 'footer-img' + i]" v-for="i in 4" :key="i">
              <img :src="`../img/fl${i}.png`" :class="'footer-image' + i" />
            </div>
          </div>
          <div class="footer-right">
            <img src="../img/fr1.png" class="footer-image" />
          </div>
      </div>
    </div>
    </el-container>
  </el-container>
</body>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
  new Vue({
    el: "#app",
    data: function () {
      return {
        activeIndex: "3",
        show: true,
        timer: '',
        navname: [
          { name: "走进高岛屋", link: "pages/home.html" },
          { name: "如何进行退税", link: "pages/refund.html" },
          { name: "从此刻开始", link: "pages/join.html" },
          { name: "联系我们", link: "pages/contact.html" },
        ],
      };
    },
  });
</script>
<style>
  #app {
    height: 100%;
  }
  #join {
    height: 100%;
    display: flex;
  }

  .ios-download-title {
    color: black;
    font-size: 24px;
    font-style: bold;
  }

  .ios-download-subtitle {
    color: #333333;
    font-size: 16px;
    line-height: 35px;
  }

  .android-download-title {
    color: white;
    font-size: 24px;
    font-style: bold;
  }

  .android-download-subtitle {
    color: white;
    font-size: 16px;
    line-height: 35px;
  }

  .download-gplay {
    height: 65px;
  }

  .position-app {
    height: 80px;
    /* right: 40%;
    position: absolute;
    bottom: 20%; */
  }

  .join-col {
    text-align: center;
    align-items: center;
    justify-content: center;
    max-height: 100%;
    max-width: 100%;
    height: 70vh;
    display: flex;
    position: relative;
    /* padding: 20px 10px 20px 0px; */
  }
</style>

</html>